<!DOCTYPE html>
<html>
<head>
    <title>审核汇报页面</title>

    <%- include ../common/headed %>

    <!-- DataTables -->
    <link rel="stylesheet" href="/stylesheets/datatables/dataTables.bootstrap.css">

    <%- include ../common/html5Support %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <%- include ../common/main-header %>

    <%- include ../common/main-sidebar %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                审核表
                <small>权限：审核员</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Tables</a></li>
                <li class="active">Data tables</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">具有完整功能的数据表</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="example" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>下属单位</th>
                                    <th>项目名称</th>
                                    <th>申请日期</th>
                                    <th>项目描述</th>
                                    <th>项目状态</th>
                                    <th>功能按钮</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>青岛市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>青岛市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>济南市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>济南市政府项目申报工作岗位设定及职能描述</td>
                                    <td>审核成功</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>聊城市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>聊城市政府项目申报工作岗位设定及职能描述</td>
                                    <td>审核成功</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>淄博市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>淄博市政府项目申报工作岗位设定及职能描述</td>
                                    <td>已退回</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>烟台市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>烟台市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>威海市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>威海市政府项目申报工作岗位设定及职能描述</td>
                                    <td>已退回</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>菏泽市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>菏泽市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>泰安市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>泰安市政府项目申报工作岗位设定及职能描述</td>
                                    <td>审核成功</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>滨州市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>滨州市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>日照市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>日照市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>莱芜市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>莱芜市政府项目申报工作岗位设定及职能描述</td>
                                    <td>已退回</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>济宁市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>济宁市政府项目申报工作岗位设定及职能描述</td>
                                    <td>审核成功</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>枣庄市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>枣庄市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山东</td>
                                    <td>莱芜市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>莱芜市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>上海</td>
                                    <td>闵行区政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>闵行区政府项目申报工作岗位设定及职能描述</td>
                                    <td>已退回</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>江苏</td>
                                    <td>南京市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>南京市政府项目申报工作岗位设定及职能描述</td>
                                    <td>已退回</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>浙江</td>
                                    <td>杭州市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>杭州市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>安徽</td>
                                    <td>合肥市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>合肥市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>广东</td>
                                    <td>深圳市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>深圳市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>北京</td>
                                    <td>朝阳区政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>朝阳区政府项目申报工作岗位设定及职能描述</td>
                                    <td>审核成功</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>广西</td>
                                    <td>桂林市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>桂林市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>海南</td>
                                    <td>三亚市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>三亚市政府项目申报工作岗位设定及职能描述</td>
                                    <td>审核成功</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>河南</td>
                                    <td>郑州市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>郑州市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>湖南</td>
                                    <td>长沙市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>长沙市政府项目申报工作岗位设定及职能描述</td>
                                    <td>审核成功</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>山西</td>
                                    <td>太原市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>太原市政府项目申报工作岗位设定及职能描述</td>
                                    <td>待审核</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>四川</td>
                                    <td>成都市政府项目</td>
                                    <td>2019-05-09 16:50:46</td>
                                    <td>成都市政府项目申报工作岗位设定及职能描述</td>
                                    <td>审核成功</td>
                                    <td>
                                        <span>
                                            <a role="button" class="btn btn-xs btn-primary" onclick="examineModal(this);">审核</a>
                                            <a role="button" class="btn btn-xs btn-danger" onclick="returnModal(this);">退回</a>
                                        </span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>下属单位</th>
                                    <th>项目名称</th>
                                    <th>申请日期</th>
                                    <th>项目描述</th>
                                    <th>项目状态</th>
                                    <th>功能按钮</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%- include ../common/main-footer %>

    <%- include ../common/control-sidebar %>

    <!-- 项目审核模态框（Modal） -->
    <div class="modal fade" id="examine-Modal" tabindex="-1" role="dialog" aria-labelledby="examine-ModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="examine-ModalLabel">审核</h4>
                    <span id="examine-index" style="display:none;"></span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="examine-units" class="col-sm-2 control-label">下属单位</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="examine-units" disabled="disabled" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="examine-name" class="col-sm-2 control-label">项目名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="examine-name" disabled="disabled" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="examine-data" class="col-sm-2 control-label">申请日期</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="examine-data" disabled="disabled" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="examine-remarks" class="col-sm-2 control-label">项目描述</label>
                                <div class="col-sm-10">
                                    <textarea type="text" class="form-control" id="examine-remarks" disabled="disabled" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary col-sm-2 col-xs-5" id="examineButton" style="float: right;">同意</button>
                    <button type="button" class="btn btn-default col-sm-2 col-xs-5" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->

    <!-- 项目退回模态框（Modal） -->
    <div class="modal fade" id="return-Modal" tabindex="-1" role="dialog" aria-labelledby="return-ModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="return-ModalLabel">审核</h4>
                    <span id="return-index" style="display:none;"></span>
                </div>
                <div class="modal-body">
                    <form id="returnForm" class="form-horizontal" role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="return-units" class="col-sm-2 control-label">下属单位</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="return-units" disabled="disabled" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="return-name" class="col-sm-2 control-label">项目名称</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="return-name" disabled="disabled" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="return-data" class="col-sm-2 control-label">申请日期</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="return-data" disabled="disabled" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="return-remarks" class="col-sm-2 control-label">项目描述</label>
                                <div class="col-sm-10">
                                    <textarea type="text" class="form-control" id="return-remarks" disabled="disabled" autocomplete="off"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="return-reason" class="col-sm-2 control-label">退回原因</label>
                                <div class="col-sm-10">
                                    <textarea name="reason" type="text" class="form-control"  id="return-reason" autocomplete="off"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary col-sm-2 col-xs-5" id="returnButton" style="float: right;">退回</button>
                    <button type="button" class="btn btn-default col-sm-2 col-xs-5" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal end -->
</div>
<!-- ./wrapper -->

<%- include ../common/footed %>

<!-- DataTables  -jquery表格插件 -->
<script src="/stylesheets/datatables/jquery.dataTables.min.js"></script>
<script src="/stylesheets/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll  -jquery滚动条 -->
<script src="/stylesheets/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick  -移动端点击延迟 -->
<script src="/stylesheets/fastclick/fastclick.js"></script>
<!-- AdminLTE App  --基于bootstrap3的前端框架 -->
<script src="/stylesheets/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/stylesheets/dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example').DataTable({
      "paging": true,  //是否允许Datatables开启排序
      "lengthChange": true,  //是否允许用户改变表格每页显示的记录数
      "searching": true,  //是否允许Datatables开启本地搜索
      "ordering": true,  //是否允许Datatables开启排序
      "info": true,  //控制是否显示表格左下角的信息
      "autoWidth": false,  //控制Datatables是否自适应宽度
      "pageLength": 10,  //改变初始化页长度（每页多少条数据）
      "oLanguage": {
        "sLengthMenu": "每页显示 _MENU_ 条记录",
        "sZeroRecords": "对不起，查询不到任何相关数据",
        "sInfo": "当前显示 _START_ 到 _END_ 条，共 _TOTAL_条记录",
        "sInfoEmtpy": "找不到相关数据",
        "sInfoFiltered": "数据表中共为 _MAX_ 条记录)",
        "sProcessing": "正在加载中...",
        "sSearch": "搜索:",
        "oPaginate": {
          "sFirst": "第一页",
          "sPrevious":" 上一页 ",
          "sNext": " 下一页 ",
          "sLast": " 最后一页 "
        }
      },
      fnDrawCallback : function () {
        let api = this.api();
        api.column(0).nodes().each(function(cell, i) {
          cell.innerHTML = i + 1;
        });
      },
      initComplete: function () {
        var api = this.api();
        api.columns().indexes().flatten().each( function ( i ) {
          var column = api.column( i );
          var select = $('<select><option value=""></option></select>')
            .appendTo( $(column.footer()).empty() )
            .on( 'change', function () {
              var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
              );
              column
                .search( val ? '^'+val+'$' : '', true, false )
                .draw();
            });
          column.data().unique().sort().each( function ( d, j ) {
            select.append( '<option value="'+d+'">'+d+'</option>' )
          });
        });
      },
      columnDefs: [  //指定的列不排序
        { orderable: false, targets: -1 }  //允许你提供从右边(使用负数)和从左边偏移的索引
      ]
    });
  });
</script>

<script type="text/javascript">
  // 初始化表单验证
  $(document).ready(function() {
    formValidator();
  });

  function formValidator() {
    //表单验证，当输入错误的值时，输入框下以文字格式提示错误
    $('#returnForm').bootstrapValidator({
      message: '此值无效',
      //live: 'submitted',  //提交
      feedbackIcons: {  //反馈图标
        valid: 'glyphicon glyphicon-ok',  //有效的：正确
        invalid: 'glyphicon glyphicon-remove',  //无效的：错误
        validating: 'glyphicon glyphicon-refresh'  //验证：刷新
      },
      fields: {
        reason: {
          message: '无效',
          validators: {
            notEmpty: {
              message: '退回原因是必需的，不能为空'
            },
            stringLength: {
              min: 6,
              max: 100,
              message: '退回原因长度必须大于6个字符，小于100个字符'
            }
          }
        }
      }
    })
      .on('success.form.bv', function(e) {
        // 阻止提交表单
        e.preventDefault();

        var $form = $(e.target),
            validator = $form.data('bootstrapValidator');
        $form.find('.alert').html('Thanks for signing up. Now you can sign in as ' + validator.getFieldElements('reason').val()).show();
      });
  }
</script>

<script>
    // 打开审核模态框
    function examineModal(obj) {
      $("#examine-Modal").modal("show");

      var tds = $(obj).parents('tr').find('td');
      $('#examine-index').val(tds.eq(0).text());
      $('#examine-units').val(tds.eq(1).text());
      $('#examine-name').val(tds.eq(2).text());
      $('#examine-data').val(tds.eq(3).text());
      $('#examine-remarks').val(tds.eq(4).text());
    }

    // 打开退回模态框
    function returnModal(obj) {
      $("#return-Modal").modal("show");

      var tds = $(obj).parents('tr').find('td');
      $('#return-index').val(tds.eq(0).text());
      $('#return-units').val(tds.eq(1).text());
      $('#return-name').val(tds.eq(2).text());
      $('#return-data').val(tds.eq(3).text());
      $('#return-remarks').val(tds.eq(4).text());
    }

    // 同意按钮点击事件
    $('#examineButton').click(function () {
      alert('审核通过');
      var postobj = {
        index: $('#examine-index').val() - 1,
        resultIndex: 5,
        result: '审核成功'
      };
      updateTableInfo(postobj);
      $('#examine-Modal').modal('hide');
    });

    // 退回按钮点击事件
    $('#returnButton').click(function () {
      if ($('#return-reason').next().hasClass('glyphicon-ok')){
        alert('退回成功');
        var postobj = {
          index: $('#return-index').val() - 1,
          resultIndex: 5,
          result: '已退回'
        };
        updateTableInfo(postobj);
        $('#return-Modal').modal('hide');
      }else {
        alert('退回原因不能为空！');
      }
    });

    // 通过序号，在修改数据库成功后修改页面表格对应数据
    function updateTableInfo(obj) {
      var td = $('#example').find('tbody').find('tr').eq(obj.index).find('td');
      td.eq(obj.resultIndex).html(obj.result);
    }
</script>
</body>
</html>
