<!DOCTYPE html>
<html>
<head>
    <title>基本信息页面</title>

    <%- include ../common/headed %>

    <%- include ../common/html5Support %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <%- include ../common/main-header %>

    <%- include ../common/main-sidebar %>

    <div class="content-wrapper">
        <!-- 内容标题（页标题） -->
        <section class="content-header">
            <h1>
                下属单位基本信息
                <small>预览</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">General</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">山东</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form" id="generalForm">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="">单位名称</label>
                                    <input type="text" class="form-control" id="unitName" name="unitName" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="">单位地址</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="">联系人</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="">联系人手机</label>
                                    <input type="text" class="form-control" id="phone" name="phone" maxlength="11" placeholder="">
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%- include ../common/main-footer %>

    <%- include ../common/control-sidebar %>
</div>
<!-- ./wrapper -->

<%- include ../common/footed %>

<!-- AdminLTE App -->
<script src="/stylesheets/dist/js/app.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/stylesheets/dist/js/demo.js"></script>

<script type="text/javascript">
  // 初始化表单验证
  $(document).ready(function() {
    formValidator();
  });

  function formValidator() {
    //表单验证，当输入错误的值时，输入框下以文字格式提示错误  验证规则
    $('#generalForm').bootstrapValidator({
      message: '此值无效',
      feedbackIcons: {  //反馈图标
        valid: 'glyphicon glyphicon-ok',  //有效的：正确
        invalid: 'glyphicon glyphicon-remove',  //无效的：错误
        validating: 'glyphicon glyphicon-refresh'  //验证：刷新
      },
      fields: {
        unitName: {
          message: '无效',
          validators: {
            notEmpty: {
              message: '单位名称是必需的，不能为空'
            },
            stringLength: {
              min: 2,
              max: 18,
              message: '单位名称长度必须大于2个字符，小于18个字符'
            }
          }
        },
        address: {
          message: '无效',
          validators: {
            notEmpty: {
              message: '单位地址是必需的，不能为空'
            },
            stringLength: {
              min: 2,
              max: 18,
              message: '单位地址长度必须大于2个字符，小于18个字符'
            }
          }
        },
        name: {
          message: '无效',
          validators: {
            notEmpty: {
              message: '联系人是必需的，不能为空'
            },
            stringLength: {
              min: 2,
              max: 18,
              message: '联系人长度必须大于2个字符，小于18个字符'
            }
          }
        },
        phone: {
          message: '无效',
          validators: {
            notEmpty: {
              message: '联系人电话是必需的，不能为空'
            },
            stringLength: {
              min: 11,
              max: 11,
              message: '联系人电话长度必须为11个字符'
            },
            regexp: {
              regexp: /^(13[0-9]|14[579]|15[0-3,5-9]|16[56]|17[0135678]|18[0-9]|19[89])\d{8}$/,
              message: '手机号码有误，请重填'
            }
          }
        }
      }
    })
      .on('success.form.bv', function(e) {
        // 阻止提交表单
        e.preventDefault();

        var $form = $(e.target),
          validator = $form.data('bootstrapValidator');
        $form.find('.alert').html('Thanks for signing up. Now you can sign in as ' + validator.getFieldElements('name').val()).show();
      });
  }
</script>
</body>
</html>
